@charset "UTF-8";
@font-face {
  font-family: 'GmarketSansLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSansMedium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GmarketSansBold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* line 27, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
body {
  background-color: #fff; }

/* line 32, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
.container {
  width: 600px;
  margin: 0 auto;
  background-color: #1DBF6D;
  overflow: hidden; }
  /* line 37, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container .banner {
    background-color: #FFFADE;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 170px;
    text-align: center; }
    /* line 44, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .banner h5 {
      font-family: 'GmarketSansBold';
      font-size: 1rem;
      border: 1px solid #1DBF6D;
      color: #1DBF6D;
      display: inline-block;
      padding: 5px 13px 3px;
      border-radius: 20px;
      margin: 50px 0 25px; }
    /* line 54, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .banner img.title {
      width: 80%;
      margin-bottom: 45px; }
    /* line 58, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .banner img.main_character {
      width: 90%; }
  /* line 64, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container .section {
    width: 90%;
    margin: 10px auto; }
    /* line 67, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section h2.title {
      color: #fff;
      font-size: 1.3rem;
      margin: 12px 0; }
    /* line 72, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .contents {
      background-color: #fff;
      border-radius: 10px;
      padding: 25px 25px 22px;
      margin-bottom: 50px; }
    /* line 80, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .content_1 {
      padding-top: 3px;
      padding-bottom: 3px; }
      /* line 84, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_1 .list {
        width: 100%;
        border-bottom: 1px dashed #ddd;
        padding: 20px 0 17px; }
        /* line 88, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_1 .list .left {
          display: inline-block;
          width: 70%;
          padding-right: 12px;
          vertical-align: middle; }
          /* line 96, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
          .container .section .content_1 .list .left h5 {
            font-size: 0.95rem;
            word-break: keep-all; }
          /* line 100, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
          .container .section .content_1 .list .left ul {
            padding-left: 12px; }
            /* line 102, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
            .container .section .content_1 .list .left ul li {
              font-size: 0.76rem;
              line-height: 140%;
              padding: 5px 0;
              list-style: disc;
              color: #888;
              word-break: keep-all; }
        /* line 113, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_1 .list .right {
          display: inline-block;
          vertical-align: middle;
          text-align: right;
          width: 28%; }
          /* line 118, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
          .container .section .content_1 .list .right img {
            width: 80px; }
      /* line 123, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_1 .list:nth-child(5) {
        border-bottom: none; }
    /* line 129, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .content_2 {
      padding-top: 2px;
      padding-bottom: 1px; }
      /* line 134, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_2 div {
        width: 100%;
        padding: 15px 0; }
        /* line 137, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_2 div h5 {
          display: inline-block; }
        /* line 140, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_2 div .left {
          width: 70px; }
        /* line 143, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_2 div .right {
          text-align: right;
          font-family: 'GmarketSansBold';
          float: right; }
      /* line 149, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_2 div:nth-child(2) {
        border-top: 1px dashed #ddd; }
    /* line 154, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .content_3 {
      text-align: center;
      position: relative; }
      /* line 157, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_3 img.deco {
        width: 75px;
        position: absolute;
        right: 0;
        top: -55px; }
      /* line 163, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_3 h3 {
        font-size: 1rem; }
        /* line 165, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_3 h3 span {
          font-size: 1rem;
          font-family: 'GmarketSansBold';
          color: #FF4E42; }
    /* line 173, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .content_4 {
      padding-top: 0;
      padding-bottom: 0; }
      /* line 176, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_4 div {
        padding: 25px 0 22px; }
        /* line 180, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_4 div h3 {
          font-size: 1.1rem;
          margin-top: 3px; }
          /* line 183, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
          .container .section .content_4 div h3 span {
            font-family: 'GmarketSansBold';
            font-size: 1.1rem; }
      /* line 189, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_4 div:nth-child(2) {
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd; }
    /* line 196, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .section .content_5 {
      text-align: center; }
      /* line 198, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .section .content_5 h3 {
        font-size: 1.2rem;
        font-family: 'GmarketSansBold'; }
        /* line 201, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
        .container .section .content_5 h3 span {
          font-size: 0.8rem;
          color: #1DBF6D; }
  /* line 211, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container .ending {
    text-align: center;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 20px;
    position: relative; }
    /* line 218, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .ending img {
      position: absolute;
      top: -29px;
      right: 10px;
      width: 120px; }
    /* line 224, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .ending .inner {
      background-color: #FFFADE;
      border-radius: 10px;
      padding: 35px 25px; }
      /* line 228, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .ending .inner h2 {
        font-size: 1.35rem;
        font-family: 'GmarketSansBold';
        word-break: keep-all;
        margin-bottom: 15px;
        color: #785425; }
      /* line 235, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .ending .inner p {
        font-size: 0.88rem;
        word-break: keep-all;
        line-height: 145%;
        color: #785425; }
  /* line 244, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container .notice {
    background-color: #fff;
    position: relative;
    padding: 50px 0 120px;
    margin-top: 50px; }
    /* line 250, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .notice .section_deco {
      position: absolute;
      top: -12px; }
      /* line 253, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .notice .section_deco img {
        width: 100%; }
    /* line 257, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .notice h3 {
      width: 90%;
      margin: 0 auto;
      font-size: 0.95rem;
      margin-bottom: 10px; }
    /* line 263, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
    .container .notice ul {
      width: 90%;
      margin: 0 auto;
      padding-left: 13px; }
      /* line 267, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
      .container .notice ul li {
        color: #555555;
        font-size: 0.84rem;
        word-break: keep-all;
        line-height: 150%;
        padding: 8px 0;
        list-style: disc; }
  /* line 278, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container .goto_btn {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    background-color: #FF4E42;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    padding: 20px 0 15px; }

@media screen and (max-width: 600px) {
  /* line 301, /Users/song/Desktop/workspace/gameberry/2020.08_piri/event/슈퍼크루_supercrew/css/style.scss */
  .container {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */